<p-toast></p-toast>
<p-panel header="Create New Event" class="bg">
  <form
    [formGroup]="regForm"
    class="box"
    id="registerForm"
    (ngSubmit)="onSubmit(regForm.value)"
  >
    <section class="p-fluid grid formgrid col-12">
      <div class="field col-6 md-2">
        <label for="eventName">Event Name</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-ticket"></i></span>
          <input
            type="text"
            pInputText
            id="eventName"
            formControlName="eventName"
            placeholder="Enter an event name"
            [ngClass]="{
              'ng-invalid ng-dirty':
                !regForm.controls['eventName'].valid && submitted
            }"
          />
        </div>
        <small
          *ngIf="!regForm.controls['eventName'].valid && submitted"
          class="p-error"
          >Enter an event name</small
        >
      </div>
      <div class="field col-6 md-2">
        <label for="city">Organization</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-map"></i></span>
          <p-dropdown
            [options]="cities"
            id="city"
            formControlName="city"
            optionLabel="CityName"
            optionValue="CityName"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="field col-6 md-2">
        <label for="eventOrganizer">Event Organizer</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input
            type="text"
            pInputText
            id="eventOrganizer"
            formControlName="eventOrganizer"
            placeholder="Enter the name for this event organizer"
            [ngClass]="{
              'ng-invalid ng-dirty':
                !regForm.controls['eventOrganizer'].valid && submitted
            }"
          />
        </div>
        <small
          *ngIf="!regForm.controls['eventOrganizer'].valid && submitted"
          class="p-error"
          >Enter the organizer's name of this event
        </small>
      </div>
      <div class="field col-6 md-2">
        <label for="eventOrganizerEmail">Event Organizer Email</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input
            type="email"
            pInputText
            id="eventOrganizerEmail"
            formControlName="eventOrganizerEmail"
            placeholder="Enter the email for this event organizer"
            [ngClass]="{
              'ng-invalid ng-dirty':
                !regForm.controls['eventOrganizerEmail'].valid && submitted
            }"
          />
        </div>
        <small
          *ngIf="!regForm.controls['eventOrganizerEmail'].valid && submitted"
          class="p-error"
          >Enter the organizer's email of this event in correct form
        </small>
      </div>
      <div class="field col-6 md-2">
        <label for="location">Event Location</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"
            ><i class="pi pi-map-marker"></i
          ></span>
          <input
            type="text"
            pInputText
            id="location"
            formControlName="location"
            placeholder="Enter the location for this event"
            [ngClass]="{
              'ng-invalid ng-dirty':
                !regForm.controls['location'].valid && submitted
            }"
          />
        </div>
        <small
          *ngIf="!regForm.controls['location'].valid && submitted"
          class="p-error"
          >Tell us where this event will be located.</small
        >
      </div>
      <div class="field col-6 md-2">
        <label for="maxAttendeeSize"> Max Attendee Size</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-users"></i></span>
          <p-inputNumber
            mode="decimal"
            [showButtons]="true"
            inputId="maxAttendeeSize"
            formControlName="maxAttendeeSize"
          >
          </p-inputNumber>
        </div>
      </div>
      <div class="field col-6 md-2">
        <label for="time">Start Time</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
          <p-calendar
            formControlName="startTime"
            id="startTime"
            [showTime]="true"
            hourFormat="24"
            [minDate]="minDate"
            [monthNavigator]="true"
            [yearNavigator]="true"
            yearRange="2022:2030"
          ></p-calendar>
        </div>
      </div>
      <div class="field col-6 md-2">
        <label for="time">End Time</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
          <p-calendar
            id="endTime"
            formControlName="endTime"
            [showTime]="true"
            hourFormat="24"
            [minDate]="minDate"
            [monthNavigator]="true"
            [yearNavigator]="true"
            yearRange="2022:2030"
          >
          </p-calendar>
        </div>
      </div>
      <div class="field col-12 md-6">
        <label for="description">Event Description</label>
        <textarea
          type="text"
          rows="4"
          pInputTextarea
          id="description"
          formControlName="description"
          placeholder="Tell us what this event is about."
          [ngClass]="{
            'ng-invalid ng-dirty':
              !regForm.controls['description'].valid && submitted
          }"
        ></textarea>
        <small
          *ngIf="!regForm.controls['description'].valid && submitted"
          class="p-error"
          >Tell us what this event is about.</small
        >
      </div>
    </section>
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      style="margin-right:20px"
      type="submit"
      label="Create"
      (click)="onSubmit(regForm.value)"
    ></button>
    <button pButton label="Cancel" (click)="onCancel()"></button>
  </ng-template>
</p-panel>
