<p-breadcrumb [model]="items"></p-breadcrumb>
<section>
  <p-table
    [value]="events"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    responsiveLayout="scroll"
    [resizableColumns]="true"
    [rowsPerPageOptions]="[10, 25, 50]"
  >
    <ng-template pTemplate="caption">
      <p *ngIf="searchInput">Event name that contains: {{ searchInput }}</p>
      <p *ngIf="!searchInput">All the Events accross four cities in New York</p>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="EventName">
          Event<p-sortIcon field="EventName"></p-sortIcon>
        </th>
        <th pSortableColumn="EventOverView">
          Event OverView<p-sortIcon field="EventOverView"></p-sortIcon>
        </th>
        <th pSortableColumn="EventOrganizer">
          Event Organizer<p-sortIcon field="EventOrganizer"></p-sortIcon>
        </th>
        <th pSortableColumn="CityName">
          City<p-sortIcon field="CityName"></p-sortIcon>
        </th>
        <th>Attendee</th>
        <th pSortableColumn="MaxAttendeeSize">
          Max Attendee<p-sortIcon field="MaxAttendeeSize"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-events>
      <tr>
        <td>{{ events.EventName }}</td>
        <td>{{ events.EventOverView }}</td>
        <td>{{ events.EventOrganizer }}</td>
        <td>{{ events.CityName }}</td>
        <td>
          <span *ngFor="let member of events.Members">
            {{ member.MemberName }}
          </span>
        </td>
        <td>{{ events.MaxAttendeeSize }}</td>
      </tr>
    </ng-template>
  </p-table>
</section>
