<section class="welcomeText">
  <p>
    Welcome to the place where you can find the most exciting events in the
    cities of New York <br />
    <small
      >We only support four cities: New York City, Albany, Kingston, and Niagara
      Falls <br />
      More cities in the future</small
    >
  </p>
</section>
<p-galleria
  [value]="images"
  [responsiveOptions]="responsiveOptions"
  [numVisible]="5"
  [circular]="true"
  [autoPlay]="true"
  [transitionInterval]="2000"
  [showThumbnails]="false"
  [showIndicators]="true"
>
  <ng-template pTemplate="item" let-item>
    <img
      [src]="item.previewImageSrc"
      [name]="item.title"
      (click)="navigateToCity($event)"
      style="width: 640px; height: 60vh; display: block"
    />
  </ng-template>
  <ng-template pTemplate="caption" let-item>
    <h4 style="margin-bottom: 0.5rem; color: #ffffff">{{ item.title }}</h4>
    <p>{{ item.alt }}</p>
  </ng-template>
</p-galleria>
