<section class="welcomeText">
  <p>
    Here is <strong>All About Event</strong> where you can join an organization
    to find or start the most exciting event you like.<br />
    <small>
      This is the place for a group of friends or people that you never met in
      real life and wanted to hangout with each other.
      <br />
    </small>
  </p>
</section>
<p-galleria
  [value]="images"
  [responsiveOptions]="responsiveOptions"
  [numVisible]="5"
  [circular]="true"
  [autoPlay]="true"
  [transitionInterval]="2000"
  [showThumbnails]="false"
  [showIndicators]="true"
>
  <ng-template pTemplate="item" let-item>
    <img
      [src]="item.previewImageSrc"
      [name]="item.code"
      (click)="navigateToCity($event)"
      style="width: 640px; height: 60vh; display: block"
      class="pointerCursor"
    />
  </ng-template>
  <ng-template pTemplate="caption" let-item>
    <h4 style="margin-bottom: 0.5rem; color: #ffffff">{{ item.title }}</h4>
    <p>{{ item.alt }}</p>
  </ng-template>
</p-galleria>
